@import './../variables';

/* ==========================================================================
   Authentication page styles
   ========================================================================== */

body.auth {
  .sign-bg {
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0; top: 0;
    overflow: hidden;
    background: url("/images/bg.jpg") center center / cover;
    z-index: 0;
    .overlay {
      background-color: #000;
      opacity: 0.6;
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
    }
  }

  .signup-container {
    width: 380px;
    margin: 55px auto;
    padding: 30px;
    border-radius: 2px;
    display: block;
    position: relative;
    z-index: 999;
    background: #fff;
    box-shadow: 0 0 12px 0 rgba(0,0,0,0.6);
    .header {
      display: block;
      text-align: center;
    }

    .body {
      .form-group {
        position: relative;
        margin: 15px 0;
        font-family: proxima_novalight;
        .fa {
          top: 50%;
          transform: translateY(-50%);
          border-right: 1px solid #d6d6d6;
          color: #d6d6d6;
          font-size: 14px;
          line-height: 27px;
          position: absolute;
          text-align: center;
          width: 40px;
        }
        .form-control {
          padding: 10px 16px 10px 54px;
          font-size: 15px;
          width: 100%;
          border-radius: 2px;
          height: auto;
        }
      }

      .checkbox-inline {
        font-size: 14px;
        margin: 0;
      }
    }

    .signup-text {
      color: #777;
      display: block;
      font-size: 15px;
      font-style: italic;
      position: relative;
      text-align: center;
      &:before {
        background: #e4e4e4;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
      }
      span {
        background: #fff;
        display: inline-block;
        padding: 15px 20px;
        position: relative;
      }
    }

    .btn {
      width: 100%;
      padding: 11px;
      &.signup-btn {
        color: #fff;
        background-color: $primary-color;
        &:hover {
          color: #fff;
          background-color: $primary-color-darken;
        }
      }

      &.facebook {
        color: #fff;
        background-color: $facebook-color;
        margin-bottom: 10px;
        &:hover {
          color: #fff;
          background-color: darken($facebook-color, 15%);
        }
      }
      &.twitter {
        color: #fff;
        background-color: $twitter-color;
        margin-bottom: 10px;
        &:hover {
          color: #fff;
          background-color: darken($twitter-color, 15%);
        }
      }
      &.google {
        color: #fff;
        background-color: $google-color;
        &:hover {
          color: #fff;
          background-color: darken($google-color, 15%);
        }
      }
    }
  }
  .have-account {
    margin: -60px 0 20px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 20px 0;
    position: relative;
    text-align: center;
    z-index: 999;
  }

  footer {
    position: fixed;
    bottom: 0;
    background-image: none;
  }
}