.overlay
.col(flex='25', flex-xs = '50')
    h4 CONTACT US
    ul
        li IL: +11 985632147
        li FR: +11 985632147
        li US: +11 985632147
        li RU: +11 985632147
        li.message-send
            i.fa.fa-envelope
            a(href='#') Send Message
        li
            a(href='/admin', target='_blank') Admin login

.col(flex='25', flex-xs = '50')
    h4 FOLLOW US
    ul
        li: a(href='#')
            | Facebook
        li: a(href='#')
            | Twitter
        li: a(href='#')
            | Google Plus
        li: a(href='#')
            | Instagram

.col(flex='25', flex-xs = '50')
    h4 SECURE PAYMENT
    ul.paypal
        li: a(href='#')
            img(alt='Master Card', src='images/master-card.png')
        li: a(href='#')
            img(alt='Visa', src='images/visa.png')
        li: a(href='#')
            img(alt='American Express', src='images/american.png')
        li: a(href='#')
            img(alt='Discover', src='images/discover.png')
    ul.paypal-icon
        li: a(href='#')
            img(alt='Norton Secure', src='images/norton.png')
        li: a(href='#')
            img(alt='Paypal', src='images/paypal.png')

.col(flex='25', flex-xs = '50')
    h4 NEWSLETTER
    h3 Subscribe to our Newsletter
    input.form-control(type='text', placeholder='Your Email here..', name='Your Email here..')
    md-button.md-raised.md-accent Subscribe
